{% extends 'Shared/mainLayout.html' %}
{% load static from staticfiles %}
{% block title %} PO Approval{% endblock %}
{% block content %}
{% verbatim %}


<div ng-app="AppPOaprocrt" ng-controller="ApprovPoCtrl" class="container container1">

    <div class="row  ">

        <div class="row-header col-lg-12 col-sm-12">
            <h4>PO Admendment Approval</h4>
        </div>

    </div>
    <div class="row row-search" ng-form="searchfrom">

        <form role="form">
            <div class="col-lg-2 col-sm-2">
                 <md-input-container class="md-block inputcontainer">
                <label >PO Number</label>
                <input  ng-model="poheader_sno" ng-disabled="true" />
                 </md-input-container>
            </div>
            <div class="col-lg-2 col-sm-2">
                 <md-input-container class="md-block inputcontainer">
                <label >Supplier</label>
                <input  ng-model="supplier_name" ng-disabled="true" />
                 </md-input-container>
            </div>
            <div class="col-lg-2 col-sm-2">
                 <md-input-container class="md-block inputcontainer">
                <label  >Team And Cond.</label>
                <input  ng-model="teamandcond_name" ng-disabled="true" />
                 </md-input-container>
            </div>
        </form>
    </div>
        <div class="row  table-responsive">
        <div class="col-lg-12 col-sm-12">
            <table datatable="ng" class="table  table-striped table-bordered table-condensed table-hover">
                <thead class="header">
                    <tr>

                        <td rowspan="2 " style="width:25px;" align="right">
                            S.No
                        </td>
                        <td rowspan="2" style="width:10%;">
                            Product Category
                        </td>
                        <td rowspan="2" style="width: 25%;">
                            Product Type
                        </td>
                        <td rowspan="2" style="width: 10%;">
                            Product Name
                        </td>
                        <td rowspan="2" style="width: 5%;">
                            Product Desc
                        </td>
                        <td rowspan="2" style="width: 5%;">
                            UOM
                        </td>
                        <td rowspan="2" style="width: 5%;">
                            Quantity
                        </td>
                        <td rowspan="2" style="width: 10%;" align="right">
                            Unit Price
                        </td>
                        <td rowspan="2" style="width: 10%;" align="right">
                            Amount
                        </td>

                        <td rowspan="2" style="width: 10%;" align="right">
                            Total Amount
                        </td>

                        <td rowspan="2" style="width: 100px;">
                            Delivery
                        </td>
                    </tr>
                </thead>
                <tbody>

                    <tr ng-repeat="poapp in poapproval">
                        <td align="right">
                            {{$index+1}}
                        </td>
                        <td>
                            <span>{{poapp.productcategory_name}}</span>
                        </td>
                        <td>
                            <span>{{poapp.producttype_name}}</span>
                        </td>
                        <td>
                            <span>{{poapp.product_name}}</span>
                        </td>
                        <td>
                            <span>{{poapp.po_desc}}</span>
                        </td>
                        <td>
                            <span>{{poapp.podetails_uom}}</span>
                        </td>
                        <td>
                            <span>{{poapp.podetails_qty}}</span>
                        </td>
                        <td>
                            <span>{{poapp.podetails_unitprice}}</span>
                        </td>
                        <td>
                            <span>{{poapp.podetails_amount}}</span>
                        </td>

                        <td>
                            <span>{{poapp.podetails_totalamount }}</span>
                        </td>
                        <td align="center">
                            <a title="view" align="center" style='cursor: pointer; text-decoration:none;' data-toggle="modal" data-target="#myedit" ng-click="godowndetails(poapp.podetails_gid,poapp.product_name,poapp.podetails_qty)"><i class="material-icons">send</i></a>
                        </td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td>
                            Total
                        </td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>

                        <td></td>
                        <td>{{calculatePay | number:2}}</td>
                        <td ng-hide="hide_show"></td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
    <div class="row  text-left">
        <form role="form" name="poapprovel">
            <div class="col-lg-3 col-sm-3 ">
                 <md-input-container class="md-block inputcontainer">
                <label>Reject Remarks</label>
                <input type="text"  ng-maxlength="256"  id="btn_search_inline" name="Create" ng-model="remarks" required />
                 </md-input-container>
            </div>
        </form>
    </div>
    <div class="row ">
        <div class="col-lg-12 col-sm-12 text-right">
            <md-button type="button" value="Close"  ng-click="Close()" >Close</md-button>
            <md-button type="button" value="Reject" ng-disabled="poapprovel.$invalid" ng-click="poapprovalsave('Reject')" class="md-raised md-warn" >Reject</md-button>
            <md-button type="button" class="md-raised md-primary" ng-disabled="poapprovel.$valid" value="Approve" ng-click="poapprovalsave('Approve')" >Approve</md-button>
        </div>
    </div>
    <div class="modal fade" id="myedit" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false"
         aria-labelledby="exampleModalLabel" aria-hidden="true">
        <form name="Delivery" novalidate>
            <div class="modal-dialog modal-style" role="document">
                <div class="modal-content">
                    <div class="modal-header popup-header">
                        <h5 class="modal-title" id="exampleModalLabel">
                            Delivery Details
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </h5>
                    </div>
                    <div>
                        {{erroemessagedelivery}}
                    </div>
                    <div class="modal-body">
                        Product Name : {{product_name}}  Product Qty:{{product_qty}}
                        <table class="table  table-striped table-bordered table-condensed table-hover">
                            <thead class="header">
                                <tr>
                                    <td  style="width:10px;">
                                        Sno
                                    </td>
                                    <td rowspan="2" style="width:10px;">
                                        Godown Name
                                    </td>
                                    <td rowspan="2" style="width: 100px;">
                                        Incharge Name
                                    </td>
                                    <td rowspan="2" style="width: 200px;">
                                        Address
                                    </td>
                                    <td rowspan="2" style="width: 30px;">
                                        UOM
                                    </td>
                                    <td rowspan="2" style="width: 30px;">
                                        Quantity
                                    </td>

                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="des in desr">
                                    <td>
                                        {{$index+1}}
                                    </td>
                                    <td>
                                        <span>{{des.godown_name}} </span>
                                    </td>
                                    <td>
                                        <span>{{des.employee_name}}</span>
                                    </td>
                                    <td>
                                        <span>{{des.address_1}}</span>
                                    </td>
                                    <td>
                                        <span>{{des.uom_name}}</span>
                                    </td>
                                    <td width="55px;">
                                        <span>{{des.podelivery_qty}}</span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" ng-click="deli_close('myedit')">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>

</div>

{% endverbatim %}

<script>
var app=angular.module('AppPOaprocrt',['ngMaterial','ui.bootstrap']).config(function($httpProvider) {
    $httpProvider.defaults.xsrfCookieName = 'csrftoken';
    $httpProvider.defaults.xsrfHeaderName = 'X-CSRFToken';
});
﻿app.controller("ApprovPoCtrl", ['$scope', '$http', '$window', 'poapprovalservice', function ($scope, $http, $window,  poapprovalservice) {

    var po_gid =sessionStorage.getItem('gid');
    var productname = poapprovalservice.getpodetails(po_gid);
    productname.then(function (productname) {
    var details = JSON.parse(productname.data)
        if (details.length > 0) {
            $scope.poapproval = details;
            var prodname = $scope.poapproval;
            if (prodname.length > 0) {
                $scope.poheader_gid = prodname[0].poheader_gid;
                $scope.supplier_name = prodname[0].supplier_name;
                $scope.supplier_gid = prodname[0].supplier_gid;
                $scope.poheader_sno = prodname[0].poheader_no;
                $scope.teamandcond_gid = prodname[0].teamandcond_gid;
                $scope.teamandcond_name = prodname[0].poterms_name;
            }
            $scope.calculatePay = calucatesum();
        }

    }, function () {
        alert('Records not found');
    });

    function calucatesum() {
        var sum = 0;
        var podetails = $scope.poapproval;
        for (var i = 0; i < podetails.length ; i++) {
            if (podetails[i].podetails_totalamount !== undefined && podetails[i].podetails_totalamount !== "") {
                sum += parseFloat(podetails[i].podetails_totalamount);
            }
        }
        return sum;
    };
    $scope.poapprovalsave = function (process_type) {
        var status = poapprovalservice.setapproval(process_type,$scope.poheader_gid,  $scope.remarks);
        status.then(function (status) {
        var status = JSON.parse(status.data)
        if(status=="Success"){
         if(process_type == 'Reject'){
           alert("Rejected Successfully")
          }else{
            alert("approved successfully");}
            $window.location.href =  "../PO_Approval";}
            else{
            alert("Data Not Inserted");
            }


        }, function () {
            alert('Records not found');
        });
    };

    $scope.Close = function () {
        $window.location.href =  "../PO_Approval";
    }
    $scope.godowndetails = function (gid, product_name, qty) {
        $scope.product_qty = qty;
        $scope.product_name = product_name;
        var getgodown = poapprovalservice.getgodown(gid);
        getgodown.then(function (getgodown) {
         var delivery_detail = JSON.parse(getgodown.data)
         console.log(getgodown.data)
            $scope.desr = delivery_detail;
        }, function () {
            alert('Records not found');
        });

    }
    $scope.deli_close = function (ev) {

        modalhide(ev);
    };
}]);
app.service("poapprovalservice", function ($http) {
    this.getpodetails = function (po_gid) {
       var response = $http.post("/Approval_PODetail/", { params:{'podetails_gid': po_gid ,'product_name': ''  } })
        return response;
    }

    this.getgodown = function(detail_gid){
      var response = $http.post("/PODelivery_detail/", { params:{'podetails_gid': detail_gid   } })
        return response;
    }

    this.setapproval = function (actionsys, poheader_gid, remark) {
      var response = $http.post("/Approval_View_Update/",{params:{'action':'Maker','actionsys':actionsys,'poheader_gid':poheader_gid,'remark':remark}})
     return response;
    }


});

</script>
{% endblock %}