{% extends 'Shared/mainLayout.html' %}
{% load static from staticfiles %}
{% block title %} PO Creation{% endblock %}
{% block content %}
{% verbatim %}
<style>
        margin: 0;
    height: 36px;
    border-width: 1px;
    border-color: #c8ccd0;
    border-radius: 3px;
    width: 100%;
    font-size: 14px;
    background-color: #FFF;
    box-shadow: none;
    color: #3b4045;
}
</style>
﻿

<div ng-app="AppPOAppro" ng-controller="ctlAppro" class="container container1">

    <div class="row  ">

        <div class="row-header col-lg-12 col-sm-12">
            <h4>PO Admendment Approval Summary</h4>
        </div>
    </div>

    <div class="row row-search">

        <form role="form">
            <div class="col-lg-2 col-sm-2">
                <md-input-container class="md-block inputcontainer">
                <label>PO Number</label>
                <input type="text"  ng-model="po_no" ng-change="filtersearch()" name="Create" maxlength="16" />
                </md-input-container>
            </div>
            <div class="col-lg-2 col-sm-2">
                  <md-input-container class="md-block inputcontainer">
                <label>Supplier</label>
                <input type="text"  ng-model="poheader_suppliername" ng-change="filtersearch()" name="Create" />
                  </md-input-container>
            </div>
            <div class="col-lg-2 col-sm-2">
                  <md-input-container class="md-block inputcontainer">
                <label>PO Amount</label>
                <input type="text"  ng-model="po_amount" ng-change="filtersearch()" name="Create" />
                  </md-input-container>
            </div>


        </form>
    </div>

    <div class="row  table-responsive">
        <div class="col-lg-12 col-sm-12">
            <table class="table  table-striped table-bordered table-condensed table-hover" id="gd_pssummary">
                <thead class="header">
                    <tr>
                        <td rowspan="2 " style="width:25px;" align="right">
                            S.No
                        </td>
                        <td rowspan="2" style="width:100px;">
                            PO No
                        </td>
                        <td rowspan="2" style="width:100px;">
                            Supplier Name
                        </td>
                        <td rowspan="2" style="width: 100px;">
                            PO Date
                        </td>
                        <td rowspan="2" style="width: 100px;">
                            PO Amount
                        </td>

                        <td rowspan="2" style="width: 100px;">
                            PO Status
                        </td>
                        <td rowspan="2" style="width: 100px;">
                            Action
                        </td>
                        <td rowspan="2" style="width: 100px;">
                            History
                        </td>

                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="poapp in poapprovel|filter:search:strict">
                        <td align="right">
                            {{$index+1}}
                        </td>
                        <td>
                            <span>{{poapp.poheader_no}}</span>
                        </td>
                        <td>
                            <span>{{poapp.supplier_name}}</span>
                        </td>
                        <td>
                            <span>{{poapp.poheader_date | date}}</span>
                        </td>
                        <td>
                            <span>{{poapp.poheader_amount}}</span>
                        </td>
                        <td>
                            <span>{{poapp.poheader_status}}</span>
                        </td>
                        <td align="center">
                            <a title="view" align="center" style='cursor: pointer; text-decoration:none;' ng-click="poviewapp(poapp.poheader_gid)"><i class="material-icons">remove_red_eye</i></a>
                        </td>
                        <td>
                            <span>{{poapp.po_history}}</span>
                        </td>
                    </tr>
                </tbody>
                                <tfoot>
                    <tr>
                        <td colspan="7">
                            <ul uib-pagination total-items="userTotalItems" ng-model="currentPage" max-size="maxSize" class="pagination-sm" boundary-links="true" items-per-page="itemsPerPage"></ul>
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
    <br>

    <div class="row ">
        <div class="col-lg-12 col-sm-12 text-right">
            <md-button class="md-raised" type="button" value="Close"  ng-click="Close()" >Close</md-button>
        </div>
    </div>
</div>







{% endverbatim %}

<script>
var app=angular.module('AppPOAppro',['ngMaterial','ui.bootstrap']).config(function($httpProvider) {
    $httpProvider.defaults.xsrfCookieName = 'csrftoken';
    $httpProvider.defaults.xsrfHeaderName = 'X-CSRFToken';
});
app.controller("ctlAppro", ['$scope', '$http', '$window','$filter','productService', function ($scope, $http, $window,$filter,productService) {
        $scope.maxSize = 5;
    $scope.currentPage = 1;
    $scope.viewby = 10;
    $scope.maintable = [];
    $scope.itemsPerPage = $scope.viewby;


    var getpoheader = productService.getpoappo();
    getpoheader.then(function (getpoheader) {
    console.log(getpoheader.data)
    var data = JSON.parse(getpoheader.data)
        $scope.maintable = data;
        $scope.poapprovel = data;
         $scope.userTotalItems = $scope.poapprovel.length;
        $scope.Totalpages = Math.ceil($scope.poapprovel.length / $scope.itemsPerPage);
    }, function () {
        alert('Records not found');
    });

        $scope.filtersearch = function () {
        $scope.poapprovel = $filter('filter')($scope.maintable, { poheader_no: $scope.po_no, supplier_name: $scope.poheader_suppliername, poheader_amount: $scope.po_amount });
        $scope.userTotalItems = $scope.poapprovel.length;
    }


    $scope.poviewapp = function (ev) {
       sessionStorage.setItem('gid',ev);
        $window.location.href =    "../POApproval";
    }


}]);
 app.service("productService", function ($http,$filter) {
     this.getpoappo = function (ev) {
           var response = $http.get("/getpoadmentmentapp/")
        return response;
    }
});



</script>
{% endblock %}