{% block content %}
{% verbatim %}
    <div ng-app="Appproduct" ng-controller="DialogController" style="width:800px">
        <div class="md-toolbar-tools" style="align-right">
            <h3>Category Create</h3>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="cancel()">
                <md-icon aria-label="Close dialog">
                    <i class="material-icons">close</i>
                </md-icon>
            </md-button>
        </div>

            <div class="col-md-12">
                <div class="col-md-5">
                     <md-input-container class="md-block inputcontainer">
                        <label>Product Category Name</label>
                        <input ng-model="catname" required/>
                    </md-input-container>
                </div>
                  <div class="col-md-5">
                     <md-input-container class="md-block inputcontainer">
                        <label>Product Category Description</label>
                        <input ng-model="catdesc"  required/>
                    </md-input-container>
                </div>
            </div>

    </div>
{% endverbatim %}
{% endblock %}